.container{
    width: 79.16%;
    /* background-color: aqua; */
    margin: 0 auto;
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .tableContainer{
    width: 100%;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #E4E4E4;
    height: 737px;
}
.container .table{
    width: 100%;
    border-collapse: collapse;
}

.table thead{
    background-color: #F2F2F2;
}
.table th{
    font-size: 14px;
    text-align: right;
    padding-top: 25px;
    padding-bottom: 23px;
   
}
.table th,td{
    width: 20%;
}
.table th:nth-child(1)
{
    border-top-right-radius: 30px;
}
.table th:nth-last-child(1){
    border-top-left-radius: 30px;
}
.table th:nth-child(1),td:nth-child(1){
    /* background-color: bisque; */
    padding-right: 52px;
}
.table th:nth-last-child(1),td:nth-last-child(1){
    /* background-color: bisque; */
    padding-left: 39px;
    width: 10%;
}

.table td{
    font-size: 13px;
    text-align: right;
    padding-top: 16px;
    padding-bottom: 18px;
}
.table tbody tr{
    border-bottom: 1px solid #F2F2F2;
}

.table tbody button{
    background:none;
    border: none;
    margin-left: 14px;
}

.addProduct{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 42px;
}
.addProduct div{
    display: flex;
    /* background-color: pink; */
    margin-bottom: 20px;
    align-items: center;
}
.addProduct div p{
    font-size: 24px;
    font-weight: 400;
    color: #282828;
}

.addProduct button{
    margin-bottom: 10px;
    width: 132px;
    border: none;
    border-radius: 10px;
    background-color:#55A3F0 ;
    font-size: 16px;
    color: #fff;
}

@media (min-width:200px) and (max-width:480px){
    .container{
        width: 95% !important;
        margin-top: 10px;
    }
    .container .tableContainer{
        border-radius: 15px;
        /* height:390px ; */
        height:fit-content;
    }
    
    .table th{
        font-size: 8px;
        padding-top: 10px;
        padding-bottom: 13px;
       
    }
    .table th:nth-child(1)
    {
        border-top-right-radius: 15px;
    }
    .table th:nth-last-child(1){
        border-top-left-radius: 15px;
    }
    .table th:nth-child(1),td:nth-child(1){
        /* background-color: bisque; */
        padding-right: 22px;
    }
    .table th:nth-last-child(1),td:nth-last-child(1){
        /* background-color: bisque; */
        padding-left: 9px;
    }
    
    .table td{
        font-size: 6px;
        text-align: right;
        padding-top: 6px;
        padding-bottom: 8px;
    }
    .table tbody button{
        
        margin-left: 4px;
    }
    .table tbody svg{
        width: 10px;
        height: 10px;
    }
    
    .addProduct{
        margin-top: 12px;
        height: 32px;
    }
    .addProduct div{
        /* background-color: pink; */
        margin-bottom: 10px;
    }
    .addProduct div p{
        font-size: 10px;
    }
    .addProduct div svg{
        height: 20px;
        width: 20px;
    }
    
    .addProduct button{
        margin-bottom: 4px;
        width: 22%;
        border-radius: 6px;
        font-size: 8px;
    }
  }
  @media (min-width:481px)and (max-width:768px) {
    .container{
        width: 75% !important;
        margin-top: 20px;
    }
    .container .tableContainer{
        border-radius: 20px;
        height: fit-content;
    }
    
    .table th{
        font-size: 10px;
        padding-top: 15px;
        padding-bottom: 18px;
       
    }
    .table th:nth-child(1)
    {
        border-top-right-radius: 20px;
    }
    .table th:nth-last-child(1){
        border-top-left-radius: 20px;
    }
    .table th:nth-child(1),td:nth-child(1){
        /* background-color: bisque; */
        padding-right: 18px;
    }
    .table th:nth-last-child(1),td:nth-last-child(1){
        /* background-color: bisque; */
        padding-left: 9px;
    }
    
    .table td{
        font-size: 8px;
        text-align: right;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .table tbody button{
        
        margin-left: 4px;
    }
    .table tbody svg{
        width: 12px;
        height: 12px;
    }
    
    .addProduct{
        margin-top: 22px;
        height: 42px;
    }
    .addProduct div{
        /* background-color: pink; */
        margin-bottom: 12px;
    }
    .addProduct div p{
        font-size: 14px;
    }
    .addProduct div svg{
        height: 30px;
        width: 30px;
    }
    
    .addProduct button{
        margin-bottom: 8px;
        width: 30%;
        border-radius: 8px;
        font-size: 10px;
    }
}
@media (min-width:769px) and (max-width:1220px){
    .container{
        width: 85% !important;
        margin-top: 25px;
    }
    .container .tableContainer{
        border-radius: 25px;
        height: fit-content;
    }
    
    .table th{
        font-size: 12px;
        padding-top: 17px;
        padding-bottom: 20px;
       
    }
    .table th:nth-child(1)
    {
        border-top-right-radius: 25px;
    }
    .table th:nth-last-child(1){
        border-top-left-radius: 25px;
    }
    .table th:nth-child(1),td:nth-child(1){
        /* background-color: bisque; */
        padding-right: 22px;
    }
    .table th:nth-last-child(1),td:nth-last-child(1){
        /* background-color: bisque; */
        padding-left: 14px;
    }
    
    .table td{
        font-size: 10px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .table tbody button{
        
        margin-left: 10px;
    }
    .table tbody svg{
        width: 18px;
        height: 18px;
    }
    
    .addProduct{
        margin-top: 32px;
        height: 50px;
    }
    .addProduct div{
        /* background-color: pink; */
        margin-bottom: 22px;
    }
    .addProduct div p{
        font-size: 16px;
    }
    .addProduct div svg{
        height: 35px;
        width: 35px;
    }
    
    .addProduct button{
        margin-bottom: 12px;
        width: 25%;
        border-radius: 10px;
        font-size: 12px;
    }
}