.container{
    width: 100%;
    background-color: #fff;
    border: 1px solid #E4E4E4;
    border-radius: 16px;
    padding: 22px 22px 22px 24px;
    display: flex;
    align-items: center;
}
.container input{
    font-size: 16px;
    color: #00000099;
    font-family: Vazirmatn, sans-serif;
    margin-right: 12px;
    border: none;
}
.container input:focus{
    outline: none;
}
.container button{
    background: none;
    width: 24px;
    height: 24px;
    line-height: 25px;
    border: none;
    cursor: pointer;
    
}