.container{
    width: 100%;
    background-color: #fff;
    border: 1px solid #E4E4E4;
    border-radius: 16px;
    padding: 22px 22px 22px 24px;
    display: flex;
    align-items: center;
}
.container input{
    font-size: 16px;
    color: #00000099;
    margin-right: 12px;
    border: none;
}
.container input:focus{
    outline: none;
}
.container button{
    background: none;
    width: 24px;
    height: 24px;
    line-height: 25px;
    border: none;
}

@media (min-width:200px) and (max-width:480px){
    .container{
        border-radius: 8px;
        padding: 6px 6px 6px 8px;
        /* background-color: pink; */
    }
    .container input{
        font-size: 8px;
        /* margin-right: 4px; */
        margin-right: 0;
    }
    .container button{
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .container button svg{
        width: 14px;
        height: 14px;
        line-height: 14px;
    }
  }
  @media (min-width:481px)and (max-width:768px) {
    .container{
        border-radius: 10px;
        padding: 12px 12px 12px 14px;
        /* background-color: pink; */
    }
    .container input{
        font-size: 12px;
        /* margin-right: 4px; */
        margin-right: 4px;
    }
    .container button{
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .container button svg{
        width: 16px;
        height: 16px;
        line-height: 16px;
    }
}